* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

header {
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  opacity: 0.8;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px 0px 60px;
    background-color: #000;
    box-shadow: rgba(0, 0, 0, 0) 0px 8px 24px;
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    height: 10vh;
    margin: 0;
    
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.activo {
    text-decoration: underline;
}

header a {
    text-decoration: none;
    color: white;
}

footer {
    background: linear-gradient(to top, #000000 0%, #1a1a1a 100%);
    background-color: #000;
    color: white;
    display: flex;
   justify-content: space-between;
   align-items: start;
  height: 10vh;
  padding: 0px 10% 0px 10%;
}

.alumnos ul {
    list-style: none;
    color: white;
    font-size: 16px;
}



.icono {
    background-color: #3f414b;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.facebook:hover {
    background-color: rgb(51, 51, 250);
}

.twitter:hover {
    background-color: rgb(49, 149, 241);
}

.instagram:hover {
    background-color: rgb(255, 48, 117);
}

.linkedin:hover {
    background-color: rgb(51, 51, 250);
}




.contenedor-redes {
    display: flex;
    gap: 20px;

}