* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

header {
    position: sticky;    /*CAMBIE POSITION DE FIXED A STICKY*/
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  opacity: 0.8;
    display: flex;
    padding: 1.25rem;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 3.75rem 0rem 3.75rem;
    background-color: #000;
    box-shadow: rgba(0, 0, 0, 0) 0rem .5rem 1.5rem;
    color: white;
    text-decoration: none;
    font-size: 1.375rem;
    font-weight: bold;
    height: 10vh;
    margin: 0;
    flex-wrap: wrap;
    max-width: 100vw;
    min-height: 5rem;
    
}

.header-login {
    position: fixed;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.25rem;
}

.activo {
    text-decoration: underline;
}

header a {
    text-decoration: none;
    color: white;
}

footer {
    background: linear-gradient(to top, #000000 0%, #1a1a1a 100%);
    background-color: #000;
    color: white;
    display: flex;
   justify-content: space-between;
   align-items: start;
  min-height: 10vh;
  padding: 0rem 10% 0rem 10%;
  flex-wrap: wrap;
  gap: 1rem;
}

.alumnos ul {
    list-style: none;
    color: white;
    font-size: 1rem;
}



.icono {
    background-color: #3f414b;
    border-radius: 50%;
    padding: .625rem;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

.facebook:hover {
    background-color: rgb(51, 51, 250);
}

.twitter:hover {
    background-color: rgb(49, 149, 241);
}

.instagram:hover {
    background-color: rgb(255, 48, 117);
}

.linkedin:hover {
    background-color: rgb(51, 51, 250);
}




.contenedor-redes {
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
}

.main-login {
    padding-top: 9.375rem;
}




@media screen and (width<490px) {
    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        gap: 16px;
    }
}

@media screen and (width<710px) {
     footer {
        justify-content: center;
    }
}

@media screen and (width<740px) {
  header nav ul {
    font-size: .825rem;
  }
}