body {
  overflow-x: hidden;
  background: linear-gradient(to bottom, #000000 0%, #1a1a1a 100%);
  background-color: #000;
  color: white;
  margin: 0;
  padding: 0;
}

.pelicula-hero {
  position: relative;
  width: 100%;
  height: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.peli-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.pelicula-detalles {
  position: absolute;
  top: 0;
  left: 20vw;
  padding-bottom: 3.125rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
  color: white;
}

.detalles-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.pelicula-detalles h1 {
  color: white;
  font-size: 3.125rem;
}

.genero ul {
  list-style: none;
  display: flex;
  gap: 1.25rem;
  font-weight: 600;
}

.descripcion {
  font-size: 1.25rem;
  max-width: 38.4375rem;
  line-height: 1.875rem;
}

.descripcion span {
  font-weight: 600;
}

.btn-comprar {
  padding: .4375rem;
  gap: .625rem;
  border: none;
  border-radius: .3125rem;
  cursor: pointer;
  width: 12.3125rem;
  height: 2.875rem;
  border-radius: .3125rem;
  font-weight: 600;
  text-transform: uppercase;
}

.btn-comprar:hover {
  background-color: #ffffff;
}

footer {
  position: relative;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  height: auto;
}

main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recomendaciones {
  position: relative;
  color: white;
  margin-top: 3.125rem;
}

.similares {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  flex-wrap: wrap;
  gap: 20px;
}

.pelicula-similar img:hover {
  outline: .125rem solid white;
  border-radius: .3125rem;
  cursor: pointer;
}

.recomendacion-titulo {
  font-size: 2.25rem;
}

.titulo_pelicula-descripcion {
  font-size: 1.75rem;
  margin-top: 5rem;
}

.pelicula_descripcion-detallada {
  display: flex;
  margin: auto;
  justify-content: space-between;
  margin-top: .625rem;
  margin-bottom: 6.25rem;
}
  article {
    display: flex;
    flex-direction: column;
    gap: .625rem;
    max-width: 50rem;

    span {
      font-weight: bold;
    }
  }

  .img-pelicula-similar{
    width: 16rem;
    height: 10rem;
    margin-bottom: .5rem;
  }

@media (max-width: 1024px) {

  .pelicula-hero .peli-bg{
    width: 100vw;
    height: 40rem;
  }

  .pelicula-detalles h1 {
    margin-left: 3rem;
  }

  .pelicula-descripcion{
    margin-left: 3rem;
  }

    .pelicula-detalles{
    left: 0vw;
    width: 100%;
  }

  .genero-li{
    margin-left: 3rem;
  }

  .btn-comprar{
    margin-left: 3rem;
  }

  .pelicula_descripcion-detallada{
    display: flex;
    flex-direction: column;
  }

  span{
    margin-bottom: 2rem;
  }

  p{
    margin-bottom: 2rem;
  }
}  

@media (max-width: 425px) {

  .header {
      display: flex;
      justify-content: center;
      padding: 0;
      gap: 0.5em;
  }

  .header nav ul {
    display: flex;
    gap: .6em;
  }

  .header li {
    font-size: .6em;
  }

  .pelicula-hero {
    position: none;
    margin: 0;
    width: 0rem;
    height: 90%;
    left: 0%;
    transform: translateX(0%);
  }

  .pelicula-hero .peli-bg{
    width: 100vw;
    height: 40rem;
  }

  .pelicula-detalles{
    left: 0vw;
    height: 100%;
    width: 10%;
  }

  .genero-li{
    font-size: .8rem;
    margin-left: 3rem;
  }

  .pelicula-descripcion{
    margin-left: 3rem;
  }

  .descripcion {
    width: 15rem;
  }

  .pelicula-detalles h1 {
    font-size: 2.5rem;
    width: 15rem;
    margin-left: 3rem;
  }

  .btn-comprar{
    margin-left: 3rem;
  }

  .recomendacion-titulo {
    font-size: 1.8rem;
  }

  .pelicula_descripcion-detallada{
    display: flex;
    flex-direction: column;
  }

  span{
    margin-bottom: 2rem;
  }

  p{
    margin-bottom: 2rem;
  }
}


@media screen and (width<290px) {
  h1.pelicula-titulo {
    font-size: 1.5rem;
    width: 100%;
  }

  .genero-li {
    font-size: 0.6rem;
  }

  .descripcion {
        width: 9.375rem;
        font-size: 0.8rem;
  }

  .btn-comprar {
    width: 7.5rem;
  }
}

@media screen and (width<250px) {
  .genero {
    display: none;
  }

  .recomendaciones {
    width: 9.375rem;
  }

  .recomendacion-titulo {
    font-size: 1.2rem;
  }

  .img-pelicula-similar {
    width: 100%;
  }
}

@media screen and (width<191px) {
  .descripcion {
    width: 6.25rem;
    font-size: 0.6rem;
  }

  .btn-comprar {
    width: 6.25rem;
  }
}

@media screen and (width<690px){
  .pelicula-detalles h1 {
    max-width: 12.5rem;
    font-size: 2rem;
  }

  .descripcion {
    font-size: .8125rem;
    max-width: 28.125rem;
  }
}

/*
@media screen and (max-width: 640px) {
    body {
        font-size: 70%;
    }

    .header {
        display: flex;
        position: fixed;
        justify-content: center;
        padding: 0;
        gap: 0.5em;
    }

    .headerimg {
        width: 2.5em;
    }

    .header nav ul {
        display: flex;
        gap: .6em;
    }

    .header li {
        font-size: .6em;
    }
}
    */