body {
    overflow-x: hidden;
    background: linear-gradient(to bottom, #000000 0%, #1a1a1a 100%);
    background-color: #000;
    color: white;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

main {
    width: 80%;
    margin: 0 auto;
    margin-top: 15rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
}

.nav{
    list-style: none;
    display: flex;
    justify-content: space-between;

}

.nav .search-container{
    display: flex;
    align-items: flex-end;
    margin-bottom: 0.438rem;
    margin-top: 0.125rem;
}

.nav .search-container .search{
    width: 18.75rem;
    padding: 0.5rem;
}

.nav .search-container .search-icon{
    width: 2.188rem;
}

.dropdown-container{
    margin-top: 9rem;
    position: relative;
    width: fit-content;
}

.dropdown-container .dropdown-link{
    display: inline-block;
    text-decoration: none;
    background-color: rgb(37, 38, 43);
    color: white;
    padding: 0.7rem 1.2rem;
    border-radius: 0.313rem;
    border: solid; 
    border-color: rgb(71, 75, 78);
}

.dropdown-container .dropdown-content{
    width: 31.25rem;
    display: none;
    flex-direction: column;
    width: fit-content;
    background-color: beige;
    border-radius: 0.313rem;
    position: absolute;
    top: 100%;
    left: 51.5%;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    overflow: hidden;
}

.dropdown-container:hover .dropdown-content{
    display: flex;
    background-color: gray;
    border: solid;
    border-color: rgb(71, 75, 78);
}

.sub-link{
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    text-align: center;
    width: 6.25rem;
    text-decoration: none;
    font-size: 0.75rem;
    position: 1rem;
    color: white;
    background-color: gray;
    transition: color 0.2s ease-in;  
}

.h2-destacados{
    margin-top: 5rem;
    font-size: 2.5rem;
}

.nav .dropdown-container .arrow{
    width: 1rem;
    height: 1rem;
}

.content{
    display: grid;
    grid-template-columns: 26% 26% 26% 26%;
    
}

.content .img{
    padding: 1rem;
    border: solid;
    border-color: gray;
    margin-top: 5rem;
    width: 20rem;
    height: 26rem;
}

@media (max-width: 425px) {

    main{
        margin-top: 0;
    }
    .hero-img{
       width: 10rem;
       height: 10rem;
    }
    
    .nav .search-container{
    display: flex;
    align-items: flex-end;
    margin-bottom: 3rem;
    }

    .nav{
        display: flex;
        flex-direction: column;
    }

    .dropdown-container{
        margin-bottom: 5rem;
    }
    .nav .search-container .search-icon{
        display: none;
    }

    .dropdown-container .dropdown-content{
    left: 0%; 
    }
    
    .nav .search-container .search{
    width: 100%;
    }

    .content{
        display: grid;
        grid-template-columns: 60% 10%;
    }
    
    .content .img{
    padding: 1rem;
    border: solid;
    border-color: gray;
    width: 7rem;
    height: 10rem;
    }   
}