body {
    overflow-x: hidden;
    background: linear-gradient(to bottom, #000000 0%, #1a1a1a 100%);
    background-color: #000;
    color: white;
    margin: 0;
    margin-top: 3%;
    padding: 0;
    font-family: sans-serif;
}

main {
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

.filter-categoria{
    list-style: none;
    display: flex;
    justify-content: space-between;

}

.dropdown-container{
    margin-top: 9rem;
    position: relative;
    width: fit-content;
}

.dropdown-container .dropdown-link{
    display: inline-block;
    background-color: rgb(37, 38, 43);
    padding: 0.7rem 1.2rem;
    border-radius: 0.313rem;
    border: solid; 
    border-color: rgb(71, 75, 78);
}

.filter-categoria .dropdown-container .arrow{
    width: 1rem;
    height: 1rem;
}

.dropdown-container .dropdown-content{
    display: none;
    flex-direction: column;
    background-color: beige;
    border-radius: 0.313rem;
    position: absolute; /* VER */
    left: 51.5%;
    font-size: 2rem;
    font-family: sans-serif;
}

.dropdown-container:hover .dropdown-content{
    display: flex;
    background-color: gray;
    border: solid;
    border-color: rgb(71, 75, 78);
}

.sub-link{
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    text-align: center;
    width: 6.25rem;
    text-decoration: none;
    font-size: 0.75rem;
    color: white;
    background-color: gray;
}

.filter-categoria .search-container{
    display: flex;
    align-items: flex-end;
    margin-bottom: 0.438rem;
    margin-top: 0.125rem;
}

.filter-categoria .search-container .search{
    width: 18.75rem;
    padding: 0.5rem;
}

.filter-categoria .search-container .search-icon{
    width: 2.188rem;
}

.h2-destacados{
    margin-top: 5rem;
    font-size: 2.5rem;
}


.content{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 26% 26% 26% 26%;
    grid-row-gap: 5rem;
}

.content .img{
    padding: 1rem;
    border: solid;
    border-color: gray;
    width: 20rem;
    height: 26rem;
}

@media (max-width: 1440px){
    main{
        margin-top: 0;
    }
    .hero-img{
       width: 10rem;
       height: 10rem;
    }
    
    .filter-categoria .dropdown-container .dropdown-link{
        width: 16rem;
        display: flex;
    }

    .filter-categoria .search-container{
    margin-bottom: 0.3rem;
    width: 18rem;
    }

    .content{
        display: grid;
        grid-template-columns: 40% 40% 30%;
    }
    
    .content .img{
    padding: 1rem;
    border: solid;
    border-color: gray;
    width: 15rem;
    height: 21rem;
    } 
}

@media (max-width: 2560px){
    main{
        margin-top: 0;
    }
    .hero-img{
       width: 10rem;
       height: 10rem;
    }
    
    .filter-categoria .dropdown-container .dropdown-link{
        width: 16rem;
        display: flex;
    }

    .filter-categoria .search-container{
    margin-bottom: 0.3rem;
    width: 18rem;
    }

    .content{
        display: grid;
        grid-template-columns: 28% 28% 28% 0%;
    }
    
    .content .img{
    padding: 1rem;
    border: solid;
    border-color: gray;
    width: 18rem;
    height: 24rem;
    } 
}

@media (max-width: 1397px){
    main{
        margin-top: 0;
    }
    .hero-img{
       width: 10rem;
       height: 10rem;
    }
    
    .filter-categoria .dropdown-container .dropdown-link{
        width: 16rem;
        display: flex;
    }

    .filter-categoria .search-container{
    margin-bottom: 0.3rem;
    width: 18rem;
    }

    .content{
        display: grid;
        grid-template-columns: 36% 36% 0%;
    }
    
    .content .img{
    padding: 1rem;
    border: solid;
    border-color: gray;
    width: 12rem;
    height: 18rem;
    } 
}

@media (max-width: 767px) {

    main{
        margin-top: 0;
    }

      .header {
      display: flex;
      position: fixed;
      justify-content: center;
      padding: 0;
      gap: 0.5em;
  }

  .header nav ul {
    display: flex;
    gap: .6em;
  }

  .header li {
    font-size: .6em;
  }
  
    .hero-img{
       width: 10rem;
       height: 10rem;
    }
    
    .filter-categoria .search-container{
    display: flex;
    align-items: flex-end;
    margin-bottom: 3rem;
    }

    .filter-categoria{
        display: flex;
        flex-direction: column;
    }

    .dropdown-container{
        margin-bottom: 5rem;
    }
    .filter-categoria .search-container .search-icon{
        display: none;
    }

    .dropdown-container .dropdown-content{
    left: 0%; 
    }
    
    .filter-categoria .search-container .search{
    width: 90%;
    }

    .content{
        display: grid;
        grid-template-columns: 37% 37% 0%;
    }
    
    .content .img{
    padding: 1rem;
    border: solid;
    border-color: gray;
    width: 9rem;
    height: 12rem;
    }   
}

@media (max-width: 530px) {

    main{
        margin-top: 0;
    }

      .header {
      display: flex;
      position: fixed;
      justify-content: center;
      padding: 0;
      gap: 0.5em;
  }

  .header nav ul {
    display: flex;
    gap: .6em;
  }

  .header li {
    font-size: .6em;
  }

    .hero-img{
       width: 10rem;
       height: 10rem;
    }
    
    .filter-categoria .search-container{
    display: flex;
    align-items: flex-end;
    margin-bottom: 3rem;
    }

    .filter-categoria{
        display: flex;
        flex-direction: column;
    }

    .dropdown-container{
        margin-bottom: 5rem;
    }
    .filter-categoria .search-container .search-icon{
        display: none;
    }

    .dropdown-container .dropdown-content{
    left: 0%; 
    }
    
    .filter-categoria .search-container .search{
    width: 90%;
    }

    .content{
        display: grid;
        grid-template-columns: 60% 10%;
    }
    
    .content .img{
    padding: 1rem;
    border: solid;
    border-color: gray;
    width: 9rem;
    height: 12rem;
    }   
}

@media (max-width: 425px) {

    main{
        margin-top: 0;
    }
    .hero-img{
       width: 10rem;
       height: 10rem;
    }
    
  .header {
      display: flex;
      position: fixed;
      justify-content: center;
      padding: 0;
      gap: 0.5em;
  }

  .header nav ul {
    display: flex;
    gap: .6em;
  }

  .header li {
    font-size: .6em;
  }

    .filter-categoria .search-container{
    display: flex;
    align-items: flex-end;
    margin-bottom: 3rem;
    }

    .filter-categoria{
        display: flex;
        flex-direction: column;
    }

    .dropdown-container{
        margin-bottom: 5rem;
    }
    .filter-categoria .search-container .search-icon{
        display: none;
    }

    .dropdown-container .dropdown-content{
    left: 0%; 
    }
    
    .filter-categoria .search-container .search{
    width: 90%;
    }

    .content{
        display: grid;
        grid-template-columns: 60% 0%;
    }
    
    .content .img{
    padding: 1rem;
    border: solid;
    border-color: gray;
    width: 7rem;
    height: 10rem;
    }   
}