* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 7em;
}

.titulos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.planesYFormulario {
    display: flex;
    flex-direction: column;
}

.planesYFormulario .planes {
    display: flex;
    gap: 0.4em;
}

.planesYFormulario .planes .planes__plan {
    border: 0.1em solid black;
    border-radius: 0.5em;
    padding: 2em;
    width: 25em;
    height: 15em;
}

.planesYFormulario .planes .planes__plan .planes__plan__tipoDePlan {
    padding-bottom: 1em;
    text-align: center;
}

.planesYFormulario .planes .planes__plan .planes__plan__precio {
    padding-bottom: 1em;
    text-align: center;
}

.formulario {
    display: flex;
}

.formulario .datosDeUsuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6em;

}

.formulario .datosDeUsuario input {
    width: 24em;
    height: 3em;
    border-radius: 0.5em;
    font-size: 1em;
    padding-left: 1em;
}

.formulario .metodoDePago {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulario .metodoDePago .metodoDePago__tarjetaDeDebitoOCredito input{
    
}

.formulario .confirmarOCancelar {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 3em;
}


/* form {
    display: flex;
    justify-content: center;
    gap: 150px;
    width: 100vw;
    margin-top: 20px;
}

header h1 {
    text-align: center;
}

.metodo-pago {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.opcion {
    margin-left: 20px;
}

.metodo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 8px;
}


.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.datos {
    display: flex;
}

.datos input {
    width: 200px;
}

.datos label {
    width:150px;
}

main {
    display: flex;
}

.radio {
    display: flex;
    gap: 10px;
}

input {
    padding: 5px;
}

.btn-send {
    background-color: rgb(35, 241, 35);
}

.btn-cancel {
    background-color: rgb(255, 86, 86);
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: end;
    margin-top: 20px;
}

.buttons button {
    padding: 7px;
    width: 130px;
    gap: 10px;
    border: none;
    border-radius:5px;
    cursor: pointer;
} */