* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    color: white;
}

body {
    /* margin-top: 6%;   Ver si queda en sticky o fixed */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #000000 0%, #1a1a1a 100%);
}

.header {
    align-items: start;
    height: 10vh;
    flex-direction: column;
    justify-content: center;
}

.headerimg {
    width: 4.5em;
}

.header .enlace {
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    row-gap: 1em;
}

/* Titulos */

.titulos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulos h4 {
    font-weight: normal;
    position: relative;
    row-gap: 0.2em;
}

/* Titulos */

/* Planes */

.planesYFormulario {
    display: flex;
    flex-direction: column;
    position: relative;
    row-gap: 1em;
}

.planesYFormulario .planes {
    display: flex;
    gap: 0.4em;
}

.planesYFormulario .planes .planes__plan {
    border: 0.1em;
    border-radius: 0.5em;
    padding: 2em;
    width: 25em;
    height: 15em;
    background-color: #5a5760;
    cursor: pointer;
}

.planesYFormulario .planes .planes__plan:hover {
    outline: white .1875rem solid;
}

.planesYFormulario .planes .planes__plan .planes__plan__tipoDePlan {
    padding-bottom: 1em;
    text-align: center;
    font-style: oblique;
}

.planesYFormulario .planes .planes__plan .planes__plan__precio {
    padding-bottom: 1em;
    text-align: center;
}

.mes {
    font-size: 0.7em;
    opacity: 0.5;
}

/* Planes */

/* Formulario datos de la persona */

.formulario {
    display: flex;
    justify-content: space-between;
}

.formulario .datosDeUsuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2em;
    position: relative;
}

.form-datos {
    width: 25em;
    height: 3em;
    border-radius: 0.5em;
    font-size: 1em;
    padding-left: 1em;
    background-color: #5a5760;
    border: none;
}

.form-datos::placeholder {
    color: white;
    opacity: 0.6;
}

.pass {
    display: flex;
}

.formulario .datosDeUsuario .fa-regular {
    display: flex;
    align-items: center;
    font-size: 16px;
    position: relative;
    opacity: 0.8;
    left: -2.4em;
    cursor: pointer;
}

/* Formulario datos de la persona */

/* Formulario metodo de pago */

.formulario .metodoDePago {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.metodoDePago__tarjetaDeDebitoOCredito__numeroDeTarjeta {
    width: 25em;
    height: 3em;
    border-radius: 0.5em;
    font-size: 1em;
    padding-left: 1em;
    background-color: #5a5760;
    border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.metodoDePago__tarjetaDeDebitoOCredito__numeroDeTarjeta::placeholder {
    color: white;
    opacity: 0.6;
}

.metodoDePago__tarjetaDeDebitoOCredito__codigoDeSeguridad {
    width: 5em;
    height: 3em;
    border-radius: 0.5em;
    font-size: 1em;
    padding-left: 1em;
    background-color: #5a5760;
    border: none;
}

.codigoDeSeguridad-incorrecto {
    display: none;
    color: rgb(228, 19, 19);
    font-size: 1.1em;
    width: fit-content;
    position: relative;
    left: 3.3em;
    bottom: 1.2em;
}

.metodoDePago__tarjetaDeDebitoOCredito__codigoDeSeguridad::placeholder {
    color: white;
    opacity: 0.6;
}

.cuponDePago .transferenciaBancaria {
    font-size: 1.2em;
}

.metodoDePago .cuponDePago .cuponDePago__pagoFacil,
.cuponDePago__rapiPago {
    font-size: 1.1em;
}

.seleccionDeCuponDePago {
    display: flex;
    justify-content: center;
    position: relative;
    gap: 2em;
}

.metodoDePago__transferenciaBancaria .transferenciaBancaria {
    font-size: 1.2em;
}

.metodoDePago__transferenciaBancaria p {
    position: relative;
    left: 8em;
    width: 17em;
}

/* Formulario metodo de pago */

/* Botones de confirmacion o cancelar */

.formulario .confirmarOCancelar {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.boton {
    width: 15em;
    height: 3em;
    font-weight: bold;
    border-radius: 0.5em;
    color: black;
    border: none;
    cursor: pointer;
}

.boton:hover {
    background-color: rgb(255, 255, 255);
}

.boton:active {
    background-color: rgb(242, 239, 245);
}

.boton a {
    text-decoration: none;
    color: black;
}

/* Botones de confirmacion o cancelar */

/* Validaciones */

.validacion-incorrecta {
    border: .25rem solid red;
}

.validacion-correcta {
    border: .25rem solid green;
}

/* Validaciones */

.radio {
    width: 4em;
    height: 1.3em;
}

/* Medias Queries */

@media screen and (max-width: 47.99em) {
    body {
        font-size: 70%;
    }

    /* Header */

    .headerimg {
        width: 4.5em;
    }

    /* Header */

    /* Titulos */

    .titulos {
        display: flex;
        text-align: center;
    }

    .titulos h2 {
        font-size: large;
        font-weight: 600;
    }

    .titulos h4 {
        font-size: small;
    }

    /* Titulos */

    /* Planes */

    .planesYFormulario {
        display: flex;
    }

    .planesYFormulario .planes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .planesYFormulario .planes .planes__plan {
        padding: 1em;
        height: 14em;
    }

    .planesYFormulario .planes .planes__plan .planes__plan__tipoDePlan {
        padding-bottom: 0.3em;
        text-align: center;
        font-size: x-large;
    }

    .planesYFormulario .planes .planes__plan .planes__plan__precio {
        padding-bottom: 0.3em;
        text-align: center;
        font-size: large;
    }

    .planesYFormulario .planes .planes__plan ul {
        padding-left: 2em;
    }

    /* Planes */

    /* Formulario datos de la persona */

    .formulario {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-datos {
        height: 4em;
    }

    .form-datos::placeholder {
        font-size: 1.3em;
    }

    .formulario .datosDeUsuario .fa-regular {
        display: none;
    }

    /* Formulario datos de la persona */

    /* Formulario metodo de pago */

    .formulario .metodoDePago {
        display: flex;
        flex-direction: column;
        row-gap: 2.5em;
        margin-top: 1.2em;
    }

    .metodoDePago__tarjetaDeDebitoOCredito {
        display: flex;
        position: relative;
        column-gap: 1.3em;
        align-items: center;
    }

    .metodoDePago__tarjetaDeDebitoOCredito__numeroDeTarjeta {
        display: flex;
        flex-direction: column;
        width: 15em;
        height: 4em;
        position: relative;
    }

    .metodoDePago__tarjetaDeDebitoOCredito__numeroDeTarjeta::placeholder {
        font-size: 1.3em;
    }

    .metodoDePago__tarjetaDeDebitoOCredito__codigoDeSeguridad::placeholder {
        font-size: 1.3em;
    }

    .metodoDePago__tarjetaDeDebitoOCredito__codigoDeSeguridad {
        position: relative;
        height: 4em;
    }

    .metodoDePago__transferenciaBancaria {
        position: relative;
    }

    .cuponDePago {
        row-gap: 1em;
    }

    .confirmarOCancelar {
        gap: 4em;
    }

    .boton {
        width: 8em;
    }

    /* Formulario metodo de pago */

    /* Footer */

    .footer {
        position: relative;
        top: 3em;
        flex-direction: column-reverse;
        align-items: center;
    }

    .alumnos li {
        font-size: 65%;
    }

    /* Footer */

    .radio {
        width: 2em;
        height: 1.0em;
        position: relative;
    }
}

@media screen and (min-width: 48em) and (max-width: 53.99em) {
    body {
        font-size: 70%;
    }

    /* Titulos */

    .titulos {
        display: flex;
        text-align: center;
    }

    .titulos h2 {
        font-size: large;
        font-weight: 600;
    }

    .titulos h4 {
        font-size: small;
    }

    /* Titulos */

    /* Planes */

    .planesYFormulario {
        flex-direction: row;
        column-gap: 6em;
    }

    .planesYFormulario .planes {
        flex-direction: column;
        align-items: center;
    }

    .planesYFormulario .planes .planes__plan {
        padding: 1em;
        height: 14em;
    }

    .planesYFormulario .planes .planes__plan .planes__plan__tipoDePlan {
        padding-bottom: 0.3em;
        text-align: center;
        font-size: x-large;
    }

    .planesYFormulario .planes .planes__plan .planes__plan__precio {
        padding-bottom: 0.3em;
        text-align: center;
        font-size: large;
    }

    .planesYFormulario .planes .planes__plan ul {
        padding-left: 2em;
    }

    /* Planes */

    /* Formulario datos de la persona */

    .formulario {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-datos {
        height: 4em;
    }

    .form-datos::placeholder {
        font-size: 1.3em;
    }

    .formulario .datosDeUsuario .fa-regular {
        display: none;
    }

    /* Formulario datos de la persona */

    /* Formulario metodo de pago */

    .formulario .metodoDePago {
        display: flex;
        flex-direction: column;
        row-gap: 2.5em;
        margin-top: 1.2em;
    }

    .metodoDePago__tarjetaDeDebitoOCredito {
        display: flex;
        position: relative;
        column-gap: 1.3em;
        align-items: center;
    }

    .metodoDePago__tarjetaDeDebitoOCredito__numeroDeTarjeta {
        display: flex;
        flex-direction: column;
        width: 15em;
        height: 4em;
        position: relative;
    }

    .metodoDePago__tarjetaDeDebitoOCredito__numeroDeTarjeta::placeholder {
        font-size: 1.3em;
    }

    .metodoDePago__tarjetaDeDebitoOCredito__codigoDeSeguridad::placeholder {
        font-size: 1.3em;
    }

    .metodoDePago__tarjetaDeDebitoOCredito__codigoDeSeguridad {
        position: relative;
        height: 4em;
    }

    .metodoDePago__transferenciaBancaria {
        position: relative;
    }

    .cuponDePago {
        row-gap: 1em;
    }

    .confirmarOCancelar {
        gap: 4em;
    }

    .boton {
        width: 8em;
    }

    /* Formulario metodo de pago */

    /* Footer */

    .footer {
        position: relative;
        top: 3em;
        align-items: center;
    }

    .alumnos li {
        font-size: 75%;
    }

    /* Footer */

    .radio {
        width: 2em;
        height: 1.0em;
        position: relative;
    }
}

@media screen and (min-width: 54em) and (max-width: 78em) {
    body {
        font-size: 70%;
    }

    /* Titulos */

    .titulos {
        display: flex;
        text-align: center;
    }

    .titulos h2 {
        font-size: large;
        font-weight: 600;
    }

    .titulos h4 {
        font-size: small;
    }

    /* Titulos */

    /* Header */

    .header {
        flex-direction: column;
        justify-content: center;
    }

    .headerimg {
        width: 4.5em;
    }

    /* Header */

    /* Planes */

    .planesYFormulario .planes {
        flex-direction: row;
        align-items: center;
    }

    .planesYFormulario .planes .planes__plan {
        padding: 1em;
        height: 14em;
    }

    .planesYFormulario .planes .planes__plan .planes__plan__tipoDePlan {
        padding-bottom: 0.3em;
        font-size: x-large;
    }

    .planesYFormulario .planes .planes__plan .planes__plan__precio {
        padding-bottom: 0.3em;
        font-size: large;
    }

    .planesYFormulario .planes .planes__plan ul {
        padding-left: 2em;
    }

    /* Planes */

    /* Formulario datos de la persona */

    .formulario {
        justify-content: space-around;
    }

    .form-datos {
        height: 4em;
    }

    .form-datos::placeholder {
        font-size: 1.3em;
    }

    /* Formulario datos de la persona */

    /* Formulario metodo de pago */

    .formulario .metodoDePago {
        display: flex;
        flex-direction: column;
        row-gap: 2.5em;
        margin-top: 1.2em;
    }

    .metodoDePago__tarjetaDeDebitoOCredito {
        display: flex;
        position: relative;
        column-gap: 1.3em;
        align-items: center;
    }

    .metodoDePago__tarjetaDeDebitoOCredito__numeroDeTarjeta {
        display: flex;
        flex-direction: column;
        width: 15em;
        height: 4em;
        position: relative;
    }

    .metodoDePago__tarjetaDeDebitoOCredito__numeroDeTarjeta::placeholder {
        font-size: 1.3em;
    }

    .metodoDePago__tarjetaDeDebitoOCredito__codigoDeSeguridad::placeholder {
        font-size: 1.3em;
    }

    .metodoDePago__tarjetaDeDebitoOCredito__codigoDeSeguridad {
        position: relative;
        height: 4em;
    }

    .metodoDePago__transferenciaBancaria {
        position: relative;
    }

    .cuponDePago {
        row-gap: 1em;
    }

    .confirmarOCancelar {
        gap: 4em;
    }

    .boton {
        width: 8em;
    }

    /* Formulario metodo de pago */

    /* Footer */

    .footer {
        position: relative;
        top: 3em;
        align-items: center;
    }

    .alumnos li {
        font-size: 85%;
    }

    /* Footer */

    .radio {
        width: 2em;
        height: 1.0em;
        position: relative;
    }
}